@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #f3f1ec;
    font-family: "Josefin Sans", sans-serif;
}

nav {
    background-color: #d8d6cc;
    box-shadow: 5px 5px 8px -6px black;
}

.logo-img {
    height: 75px;
    margin-right: 10px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 32px;
}

.book-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 22%;
    min-width: 220px;
    max-width: 250px;
    padding: 16px;
    box-shadow: 0 2px 4px grey;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 420px;
}

.book-image {
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 8px;
}

.book-title {
    font-size: 1.1rem;
    margin: 8px 0 3.2px;
}

.book-author,
.book-genre {
    margin: 3.2px 0;
    font-size: 14.4px;
    color: #555;
}

.book-detail-container {
    padding: 40px 20px;
}

.book-image-details {
    width: 60%;
    height: 75%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-info h2 {
    margin-bottom: 20px;
}

.book-info p {
    margin-bottom: 10px;
}

.rating-badge {
    font-size: 1.1rem;
    background-color: #ffc107;
    color: #212529;
    padding: 5px 10px;
    border-radius: 5px;
}

.modal-content {
    border-radius: 20px;
}

.modal-body .btn {
    border-radius: 40px;
    font-size: 1.1rem;
}

.shelf-btn,
.delete-edit-btn {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 5px;
    transition: all 0.2s ease-in-out;
}

.shelf-btn:hover {
    transform: scale(1.02);
}

.review-box {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.star {
    color: #ffc107;
    font-size: 1.1rem;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 2px;
    margin-bottom: 6px;
}

.book-img-card {
    width:120px; 
    height:210px; 
    object-fit:cover; 
    margin-right: 1rem;
}

.profile-big-img{
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}